<section ng-controller="MapsController">
  <div class="page-header">
    <h1>New Map {{title}}</h1>
  </div>
  <div class="col-md-12">
    <form name="mapForm" class="form-horizontal" ng-submit="create(mapForm.$valid)" novalidate>
      <div class="form-group" show-errors>
        <label for="title" class="col-sm-2 control-label">Title</label>

        <div class="col-sm-10">
          <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title" required>
        </div>
        <div ng-messages="mapForm.title.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Map title is required.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="upload" class="col-sm-2 control-label">Picture</label>

        <div class="col-sm-10">
          <div id="upload" class="form-control">
            <input id="fileUpload" type="file" fileread="fileUpload" class="col-sm-4"/>
            <button type="button" ng-click="uploadPicture();" class="col-sm-1">upload</button>
            <input type="hidden" ng-model="picture"/>
          </div>
        </div>
      </div>
      <div class="form-group" ng-show="picture">
        <label for="preview" class="col-sm-2 control-label">Preview</label>

        <div class="col-sm-10">
          <img class="img-thumbnail" src="img/maps/{{picture}}" name="picture" id="preview" width="500px"/>
        </div>
      </div>

      <div class="form-group">
        <label for="area" class="col-sm-2 control-label">Area</label>

        <div class="col-sm-10">
          <div id="area" class="form-control">
            <input type="text" id="width" placeholder="Width" ng-model="width">*
            <input type="text" id="height" placeholder="Height" ng-model="height">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="offset" class="col-sm-2 control-label">Offset</label>

        <div class="col-sm-10">
          <div id="offset" class="form-control">
            <input type="text" id="offsetX" placeholder="Offset X" ng-model="offsetX">*
            <input type="text" id="offsetY" placeholder="Offset Y" ng-model="offsetY">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="imgSize" class="col-sm-2 control-label">Img Size</label>

        <div class="col-sm-10">
          <div id="imgSize" class="form-control">
            <input type="text" id="imgWidth" placeholder="Img Width" ng-model="imgWidth">*
            <input type="text" id="imgHeight" placeholder="Img Height" ng-model="imgHeight">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Add</button>
        </div>
      </div>
      <div ng-show="error" class="text-danger">
        <strong ng-bind="error"></strong>
      </div>
    </form>
  </div>
</section>
