<section ng-controller="MapsController" ng-init="find()">
  <div class="page-header">
    <h1>List Maps</h1>
  </div>
  <div>
    <div ng-repeat="map in maps" class="col-md-4 col-sm-6">
      <div class="pull-left" col-md-3>
        <img class="img-thumbnail" ng-src="img/maps/{{map.picture}}">
      </div>

      <div class="map-info" pull-right>
        <div class="info-item">
          <h4 ng-bind="map.title"></h4>
        </div>
        <div class="info-item">
          Area: <span ng-bind="map.width"></span>*<span ng-bind="map.height"></span>
        </div>
        <div>
          Offset: <span ng-bind="map.offsetX"></span>*<span ng-bind="map.offsetY"></span>
        </div>
        <div>
          Img Size: <span ng-bind="map.imgWidth"></span>*<span ng-bind="map.imgHeight"></span>
        </div>
        <div>
          <a class="btn btn-success" ui-sref="maps.view({mapId: map._id})">View Details</a>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-warning text-center" ng-if="maps.$resolved && !maps.length">
    No maps yet, why don't you <a ui-sref="maps.create">create one</a>?
  </div>
</section>
