<section ng-controller="MapsController" ng-init="findOne()">
  <div class="page-header">
    <h1>Details Map: {{map.title}}</h1>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" ui-sref="maps.edit({mapId: map._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <img class="img-thumbnail pull-left" ng-src="img/maps/{{map.picture}}">

  <div class="map-info" pull-right>
    <div class="info-item">
      Area: <span ng-bind="map.width"></span>*<span ng-bind="map.height"></span>
    </div>
    <div>
      Offset: <span ng-bind="map.offsetX"></span>*<span ng-bind="map.offsetY"></span>
    </div>
    <div>
      Img Size: <span ng-bind="map.imgWidth"></span>*<span ng-bind="map.imgHeight"></span>
    </div>
  </div>
</section>
