<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <p class="lead">
        Welcome to Cu8 Indoor Positioning System Admin Area
      </p>
    </div>
  </div>
</section>
