<section class="row" ng-controller="PasswordController">
  <h3 class="col-md-12 text-center">Restore your password</h3>

  <p class="small text-center">Enter your account username.</p>

  <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
    <form ng-submit="askForPasswordReset()" class="form-horizontal" autocomplete="off">
      <fieldset>
        <div class="form-group">
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username"
                 placeholder="Username" lowercase>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong>{{error}}</strong>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong>{{success}}</strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
