<section class="row" ng-controller="PasswordController">
  <h3 class="col-md-12 text-center">Reset your password</h3>

  <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
    <form ng-submit="resetUserPassword()" class="signin form-horizontal" autocomplete="off">
      <fieldset>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control"
                 ng-model="passwordDetails.newPassword" placeholder="New Password">
        </div>
        <div class="form-group">
          <label for="verifyPassword">Verify Password</label>
          <input type="password" id="verifyPassword" name="verifyPassword" class="form-control"
                 ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-lg btn-primary">Update Password</button>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong>{{error}}</strong>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong>{{success}}</strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
